{% load static %}
{% block title %}Welcome - Register{% endblock %}
{% block content %}

    <!-- Subtitle ================================================== -->
    <section>
        <div class="row">
            <div class="col-sm-12 container-white">
                
           </div>
            <form id="user_form" method="post" action="{% url "register" %}" onSubmit="return prepareForm('user_form')" novalidate>
                {% csrf_token %}
                <div class="row">
                    <div class="form-group">
                        <div>
                            {{ user_form.first_name }}
                        </div>      
                        <div>
                            {{ user_form.last_name }}
                        </div>
                    </div>            
	                    <div>
	                        {{ user_form.username }}
	                	</div>
	                	<div>
	                        {{ user_form.password }}
	                	</div>
                        <div >
                            <div class="form-group">
                                <b>Confirm password:</b>
                                <div>
                                    <input type="password" class="" name="password2" placeholder="Confirm this password" required>
                                </div>
                            </div>
                        </div>
                </div>

                <button type="submit" class="button text-center" name="btnSend" form="user_form">SEND</button>

                {% if registered %}
                    <div>
                        You are connected ! 
                    </div>
                {% endif%}
                    
            </form>
        </div>
    </section><!-- Subtitle -->

{% endblock %}