<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My tasks</title>
    <style>
        table, th, td {border: 1px solid black;}
    </style>
</head>
<body>
<h1> My planned tasks</h1>

<a href={% url 'addTask' %}><b>Add a new Task </b></a>

<table>
  <tr>
    <th>title</th>
    <th>description</th>
    <th>location</th>
    <th>date</th>
    <th>listenToMe</th>
</tr>
    {% for task in taskList %}
    <tr>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>{{task.lieu}}</td>
        <td>{{task.date}}</td>
        <td> <input type="button" value="PLAY"  onclick="play('task{{task.id}}')">
            <audio id="task{{task.id}}" src="/media/audio/task{{task.id}}.mp3" ></audio>
        </td>

    </tr>
    {% endfor %}
</table>


<script>
    function play(pisteAudio){
    var audio = document.getElementById(pisteAudio);
    audio.play();
         }
    </script>

</body>
</html>